@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap');

* {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
}

.wrapper {
  color: white;
  background: #0E1621;
}

.hidden {
  display: none;
}

/* #login-window {
  display: flex;
} */

.login-block {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.chat-back {
  position: relative;
  margin-bottom: 32px;
}

.chat-icon {
  top: 87px;
  position: absolute;
  /* margin-bottom: 32px; */
}

/* .chat-icon::before {
  content: "";
  position: absolute;
  background: #232F3D;
} */

.login__title {
  color: white;
  font-weight: 500;
  margin-bottom: 16px;
}

.login__subtext {
  color: #858F98;
  width: 350px;
  text-align: center;
  font-weight: 400;
  margin-bottom: 32px;
}

#login__nickname {
  border: none;
  border-bottom: 1px solid #858F98;
  background: none;
  padding: 8px;
  margin-bottom: 24px;
}

#login__nickname::placeholder {
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
}

#login__nickname:focus::placeholder {
  color: white;
}

#login__nickname:focus {
  color: white;
  outline: none;
  border: none;
  /* font-size: 16px; */
  border-bottom: 1px solid #5188C0;
}

#login__button {
  width: 106px;
  height: 40px;
  background: #5188C1;
  color: white;
  text-transform: uppercase;
  border-radius: 4px;
  transition: .3s;
}

#login__button:hover {
  width: 106px;
  height: 40px;
  background: white;
  color: #5188C1;
  text-transform: uppercase;
  border-radius: 4px;
  transition: .3s;
}

#root {
  display: flex;
  width: 100%;
  height: 100vh;
}

.sidebar {
  background: #17212B;
  padding: 12px;
}

#sidebar__logout {
  margin-bottom: 16px;
}

#sidebar__user {
  display: flex;
  align-items: center;
  padding: 8px;
  padding-left: 0;
  border-bottom: 1px solid #858F98;
}
/* #user__pic {
  width: 16px;
  height: 16px;
  border-radius: 8px;
} */

.user__photo {
  background: rebeccapurple;
  margin: 0;
  margin-right: 6px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

/* .user__name {
  font-weight: 400;
} */

.users__title {
  margin-top: 8px;
  font-size: 16px;
  font-weight: 300;
  color: #858F98;
}

.users__count {
  font-weight: 400;
}

.top-bar__name {
  font-weight: 400;
  margin-bottom: 4px;
}

.top-bar__usercount {
  color: #858F98;
  font-size: 14px;
}

.contentarea {
  display: flex;
  height: 100vh;
  flex-grow: 1;
  flex-direction: column;
}

.contentarea__top-bar {
  background: #17212B;
  padding: 8px;
}

#contentarea__messages {
  flex-grow: 1;
  /* flex-shrink: 0; */
}

.contentarea__text-input {
  display: flex;
  padding: 8px;
  background: #17212B;
}

#textarea {
  flex-grow: 1;
  border: none;
  background: none;
  /* flex-basis: auto; */
}

#textarea::placeholder {
  font-family: 'Ubuntu', sans-serif;
}

/* #textarea:focus::placeholder {
  display: none;
} */

#textarea:focus {
  outline: none;
  color: white;
}

#message {
  width: 106px;
  height: 32px;
  background: #5188C1;
  color: white;
  text-transform: uppercase;
  border-radius: 4px;
  transition: .3s;
}

.message-item {
  display: flex;
  font-size: 16px;
  
}

.message-item-right {
  margin: 6px;
  padding: 8px;
  background: #17212B;
  border-radius: 4px;
}

.message-item-header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.message-item-header-name {
  font-weight: 500;
  color: #5188C0;
  margin-bottom: 4px;
}

.message-item-header-time {
  font-size: 14px;
  font-weight: 400;
  color: #858F98;
  margin-left: 6px;
}

.message-item-text {
  font-weight: 300;
}

.message-item-system {
  color: #858F98;
  padding: 8px;
  font-size: 16px;
}